// primary color
$Orange : hsl(25, 97%, 53%);

// neutral colors
$White: hsl(0, 0%, 100%);
$LightGrey: hsl(217, 12%, 63%);
$MediumGrey: rgba(124, 135, 152, .15);
$DarkBlue: hsl(213, 19%, 18%);
$VeryDarkBlue: hsl(216, 12%, 8%);

*,
::after
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $VeryDarkBlue;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
}

h1{
    color: $White;
    margin-bottom: 0;
}

p{
    font-size: 1em;
    line-height: 1.4em;
    color: $LightGrey;
    margin: 1rem 0 1.6rem;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 80%;
    max-width: 24rem;
    margin: auto;
    background-color: $DarkBlue;
    padding: 2em 1.4em;
    border-radius: 1.4em;
    display: grid;
}

.star{
    background-color: $MediumGrey;
    padding: 1em;
    border-radius: 50%;
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 2.4rem;

    li{
        display: inline;
        text-align: center;

        a{
            text-decoration: none;
            color: $LightGrey;
            padding: .9em 1.2em;
            border-radius: 100%;
            font-weight: 700;
            background-color: $MediumGrey;
            transition: 0.2s ease-out;

            &:hover{
                background-color: $LightGrey;
                color: $White;
            }

            &:active{
                background-color: $Orange;
                color: $White;
            }
        }
    }
}

.active{
    background-color: $Orange;
    color: $White;
}            

button{
    width: 100%;
    border-radius: 2em;
    border: none;
    padding: 1.2em 0;
    letter-spacing: .2rem;
    font-weight: 700;
    color: $White;
    background-color: $Orange;
    transition: 0.2s ease-out;
    cursor: pointer;

    &:hover{
        background-color: $White;
        color: $Orange;
    }
}

.submit{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .selection {
        margin-top: 1.6rem;
        margin-bottom: 0;
        padding: .6em 1.2em;
        border-radius: 2em;
        background-color: $MediumGrey;
        color: $Orange;
    }
}

.disable{
    display: none;
}

@media (min-width:1300px) {
    body{
        font-size: 16px;
    }
}